<div class="container">
  <div class="row my-5">
    <div class="col text-center">
      <div class="webcam-box-outer">
        <video #video autoplay id="video" width="224" height="224"></video>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <div>
        <canvas *ngIf="isStoneCaptured" class="thumb" width=224 height=224 #stoneThumb></canvas>
      </div>
      <button *ngIf="!isStoneCaptured" (click)="onStone()" [disabled]="isButtonLocked" type="button" class="btn btn-outline-secondary add-sample">+</button>
      <p class="text-muted">Stone</p>
    </div>
    <div class="col text-center">
      <div>
        <canvas *ngIf="isScissorsCaptured" class="thumb" width=224 height=224 #scissorsThumb></canvas>
      </div>
      <button *ngIf="!isScissorsCaptured" (click)="onScissors()" [disabled]="isButtonLocked" type="button" class="btn btn-outline-secondary add-sample">+</button>
      <p class="text-muted">Scissors</p>
    </div>
    <div class="col text-center">
      <div>
        <canvas *ngIf="isPaperCaptured" class="thumb" width=224 height=224 #paperThumb></canvas>
      </div>
      <button *ngIf="!isPaperCaptured" (click)="onPaper()" [disabled]="isButtonLocked" type="button" class="btn btn-outline-secondary add-sample">+</button>
      <p class="text-muted">Paper</p>
    </div>
  </div>
  <div *ngIf="isStoneCaptured && isScissorsCaptured && isPaperCaptured && !isButtonLocked" class="row mb-5">
    <div class="col text-center">
      <button (click)="onTrain()" type="button" class="btn btn-outline-secondary">Train</button>
    </div>
    <div class="col text-center">
      <span *ngIf="errorLoss$ | async as errorLoss">Error {{ errorLoss.toFixed(5) }}</span>
    </div>
  </div>
  <div *ngIf="isTrained" class="row mb-5">
    <div class="col text-center">
      <button type="button" class="btn btn-secondary btn-lg">Start!</button>
    </div>
  </div>
</div>

